.filter {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  @include for-size(tablet-only) {
    flex-wrap: wrap;
    justify-content: start;
  }

  @include for-size(tablet) {
    margin-bottom: 30px;
  }
  @include for-size(desktop) {
    margin-bottom: 50px;
  }
}

.filter__item {
  @include for-size(tablet-only) {
    margin-bottom: 15px;
  }
}
