.footer__address {
  text-align: center;

  @include for-size(desktop-only) {
    margin-bottom: 60px;
  }
  @include for-size(desktop) {
    text-align: left;
    margin-right: 70px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer__address {
    margin-left: 61px;
  }
}

.footer__span {
  color: $white-color;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
  display: inline-block;
  margin-top: 20px;
}

.footer__contacts {
  color: $footer-address-color;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  display: inline-block;
  margin-top: 9px;
}
