.page-header {
  position: relative;
  border-bottom: 1px solid $header-border-color;
}

.header {
  display: flex;
  align-items: center;

  // justify-content: space-between;
  // border-bottom: 1px solid $header-border-color;

  @include for-size(tablet-only) {
    justify-content: space-between;
  }
}
