.section-service {
  @include for-size(desktop-only) {
    display: none;
  }
}

.section-service {
  padding-top: 0;
  padding-bottom: 94px;

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.section-service__list {
  display: flex;
}

.section-service__item {
  position: relative;
  display: block;
  font-size: 0;
}

.section-service__link {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  bottom: 0;
  width: 100%;
  height: 70px;
  text-decoration: none;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
}
