.footer__sign {
  // width: calc(50% - 12px);
  // padding-top: 72px;
  // margin-bottom: 60px;
  // padding-bottom: 94px;

  @include for-size(desktop-only) {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer__sign {
    // margin-top: 60px;
    margin-left: 25%;
  }
}

// .footer__sign-form {
//   display: flex;

.footer__sign-form {
  // display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.footer__sign-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
  margin: 0;
}

.sign-input {
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $white-color;

  background-color: $footer-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  // @include for-size(tablet-only) {
  //   width: 450px;
  // }
  @include for-size(desktop) {
    margin-right: 12px;
  }

  @include for-size(desktop-only) {
    display: block;
    margin-bottom: 20px;
    width: 450px;
  }
}

// .sign-btn {
//   width: 200px;
//   height: 50px;
//   background-color: $accent-color;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   border-color: transparent;
//   color: $white-color;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.06em;

//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.icon-send {
  fill: $white-color;
  margin-left: 10px;
}
