.section-team {
  background-color: $secondary-bg-color;
}

.section-team__list {
  letter-spacing: 0.03em;
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.section-team__card {
  background-color: $white-color;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;

  @include for-size(tablet-only) {
    margin-top: 30px;
  }

  @include for-size(tablet) {
    width: calc((100% - 15px * 2) / 2);
    margin-top: 30px;
  }

  @include for-size(desktop) {
    width: calc((100% - 30px * 3) / 4);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .section-team__card:nth-child(2n) {
    margin-left: 30px;
  }
}

.section-team__card:not(:last-child) {
  @include for-size(desktop) {
    margin-right: 30px;
  }
}

.section-team__member {
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-top: 30px;
  margin-bottom: 10px;
  margin-top: 0;
}

.section-team__item {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 16px;
}
