$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$logo-black-color: #000000;
$white-color: #ffffff;
$footer-address-color: rgba(255, 255, 255, 0.6);
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;
$hero-bg-color: #c4c4c4;
$header-border-color: #ececec;
$icon-color: #afb1b8;
$projects-item-border: #eeeeee;
